html, body{
    height: 100%;
    width:100%;
    padding:0;
    margin:0;
    font-family: 'Lato', sans-serif;
    display:flex;
    flex-direction:column;
    font-size:1.2em;
    position: relative;
    min-height: 100%;

    scroll-behavior: smooth;
}
body{
    background:  linear-gradient(45deg, rgb(130, 183, 220), #f2f2f2);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/** forms */
.container-login{
    width: 100%;
    float:none;
    text-align:center;
    margin-top:2em;
}

.wrapper-login input{
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    font-size: 1em;
    display: block;
    position: relative;
}

.iconInput{
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    padding-left:0.5em;
    padding-right:0.5em;
}
.iconInputLeft{
    border-top-left-radius: 0.2em 0.2em;
    border-bottom-left-radius: 0.2em 0.2em;
}

.iconInputRight{
    border-top-right-radius: 0.2em 0.2em;
    border-bottom-right-radius: 0.2em 0.2em;
}

.wrapper-login h2{
    font-size:3em;
    text-transform: uppercase;
}

::placeholder{
    font-size: 1em;
    font-weight: 100;
    font-style:italic;
    opacity: 100;
}
.invalidFeedBack{
    color:#ff0000;
}

/* buttons */
.myBtn{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.2em 0.4em;
}
.myBtn:hover{
    color:white;
}

.myBtn a{
    text-decoration: none;
    color:black;
}

.myBtn a:hover{
    color:white;
}
.navbar{
    box-shadow: 0px 0px 10px #1a1a1a;
}

#wysiwygTextArea{
    height: 20em;
}

.green{
    background-color: #4CAF50;
}

.green:hover{
    background-color: #64A764;
    transition: 0.20s ease-in-out;
}

.red{
    background-color: red;
}

.red:hover{
    background-color: darkred;
    transition: 0.20s ease-in-out;
}

.orange{
    background-color: orange;
}

.orange:hover{
    background-color: darkorange;
    transition: 0.20s ease-in-out;
}

.lightBtn{
    border: 0.1em ridge #cccccc;
}
/*  footer */
.mainSiteContent{
    min-height: calc(100vh - 3em - 3em); <!-- 3em is height of the footer, 3em approximate height of navbar
                                        (cannot be specified exactly - cause of hamburger situation) -->
}

.divFooter{
    height:3em;
    width:100%;
    margin-top:0.5em;
}

.addComment{
    margin-bottom: 2em;
    overflow: auto;
}
.comment{
    border-left: 0.2em solid darkgrey;
    border-bottom: 0.1em ridge darkgrey;
    margin-bottom: 1em;
    padding:0.5em;
    overflow: auto;
}

.comment h6, h6{
    display:inline;
}

.replyDiv{
    margin-top: 0.5em;
    border-top: 0.1em ridge darkgrey;
    border-left: 0.2em solid darkgrey;
    overflow:auto;
    margin-left:1em;
}

.reply{
    margin-top: 0.5em;
}
.aboutSection{
    background:url(../img/blueGray.jpg);
    color:white;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 0.5em 1em;
}

.aboutSection h1{
    font-size:2em;
    text-transform: uppercase;
    padding-top: 0.2em;
}
