*{
    overflow-wrap: break-word;
}
html, body{
    height: 100%;
    margin:0;
    font-family: 'Lato', sans-serif;
    display:flex;
    flex-direction:column;
    font-size:1.2em;
    position: relative;
    scroll-behavior: smooth;
}
body{
   /* background:  linear-gradient(45deg, rgb(130, 183, 220), #f2f2f2);*/
    /*background:  linear-gradient(45deg, rgb(130, 183, 220), silver);*/
    background-image: url("../img/geometric.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.mainSiteContent{
    min-height: 28em;
    padding-top:3em;
    margin-bottom: 0;
}

/* ARTICLES*/
.articles{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.articles h1{
    text-transform: uppercase;
    background:black;
    color:white;
    padding:0.3em 0.5em;
    opacity:0.8;
    box-shadow:0 0.5em 1em rgba(0,0,0, 0.5);
    border-radius: 0.3em;
}
.article-row{
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.article{
    display:flex;
    overflow: hidden;
    /*border: 0.2em groove darkgrey;*/
    height: 13em;
    box-shadow:0 0.5em 1em rgba(0,0,0, 0.5);
   /* position:relative; */
    margin:1em;
    color: rgb(155, 142, 121);
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    /*background-color: rgb(33, 37, 41);*/
    background-color:rgba(0, 0, 0, 0.7);
    padding: 0.5em;
    border-radius: 0.3em;
}

.article:hover{
    cursor: pointer;
    background-color:rgba(204, 204, 204, 0.8);
    /*background-color: #cccccc;*/
    transition: background-color 1s;
    color: black;
}

.article:hover a{
    text-shadow: 0.1em 0.1em 0.1em black;
    font-weight: bold;
    transition: font-weight 1s;
}
.article a{
    text-decoration: none;
    color: white;
}

.article h2{
    max-height: 50%;
    overflow: hidden;
}
.article h2+p{
    max-height: 50%;
    overflow: hidden;
}
@media only screen and (min-width: 576px){
    .article{
        min-width: 15em;
    }
}

@media only screen and (max-width: 576px) {
    .article h2+p{
        display:none;
    }
    .tableCellLongText{
        max-width: 5em;
    }
}
/*  ARTICLES END*/
.show_desc{
    text-align: justify;
}
.content-style{
    background-color:rgba(204, 204, 204, 0.8);
    border-radius: 0.5em;
    padding: 1em 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.5);
}

/** forms */
.form_back_style{
    background-color:rgba(0, 0, 0, 0.7);
    padding: 1em 2em;
    border-radius: 0.5em;
    color: white;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.5);
    margin-top: 2em;
    margin-bottom: 2em;
}

.form_back_style form .fas{
    color: black;
}

.container-login{
    width: 100%;
    float:none;
    text-align:center;
    margin-top:2em;
}

.wrapper-login input{
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    font-size: 1em;
    display: block;
    position: relative;
}

.iconInput{
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    padding-left:0.5em;
    padding-right:0.5em;
}
.iconInputLeft{
    border-top-left-radius: 0.2em 0.2em;
    border-bottom-left-radius: 0.2em 0.2em;
}

.iconInputRight{
    border-top-right-radius: 0.2em 0.2em;
    border-bottom-right-radius: 0.2em 0.2em;
}

.wrapper-login h2{
    font-size:3em;
    text-transform: uppercase;
}

::placeholder{
    font-size: 1em;
    font-weight: 100;
    font-style:italic;
    opacity: 100;
}
.invalidFeedBack{
    color:#ff0000;
}


/* buttons */
.myBtn{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.2em 0.4em;
}
.myBtn:hover{
    color:white;
}

.myBtn a{
    text-decoration: none;
    color:black;
}

.myBtn a:hover{
    color:white;
}

.green{
    background-color: #337a34;
    border-color: darkgreen;
}

.green:hover{
    background-color: #64A764;
    transition: 0.20s ease-in-out;
}

.btn-danger{
    background-color: #990e0e;
}

.btn-danger:hover{
    background-color: #f52a2a;
    transition: 0.20s ease-in-out;
}

.orange{
    background-color: #ffa500;
}

.orange:hover{
    background-color: #a95b00;
    transition: 0.20s ease-in-out;
}

.lightBtn{
    border: 0.1em ridge #cccccc;
}
/*  footer */
.divFooter{
    width:100%;
}

/* COMMENTS */
.addComment{
    margin-bottom: 2em;
    overflow: auto;
}
.comment{
    border-left: 0.2em groove #818080;
    border-bottom: 0.1em ridge darkgrey;
    margin-bottom: 1em;
    padding:0.5em;
    overflow: auto;
}

.comment h6, h6{
    display:inline;
}

.replyDiv{
    margin-top: 0.5em;
    border-top: 0.1em ridge darkgrey;
    border-left: 0.2em groove #818080;
    overflow:auto;
    margin-left:1em;
}

.reply{
    margin-top: 0.5em;
}

/* ABOUT SECTION */
.aboutSection{
    background-image:url(../img/blueGray.jpg);
    color:white;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 0.5em 1em;
}

.aboutSection h1{
    font-size:2em;
    text-transform: uppercase;
    padding-top: 0.2em;
}

/* TABLES */
.tableCellLongText {
    max-width: 14em;
    word-break: break-word;
    white-space : nowrap;
    overflow : hidden;
}

.tableCellLongText:hover{
    text-overflow: ellipsis;
    white-space: normal;
}


.expand-small-on-hover:hover {
    max-width : 200px;
    text-overflow: ellipsis;
}

.expand-maximum-on-hover:hover {
    max-width : initial;
}

.container-review{
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
/*
    review section - stars
 */
.star-widget input{
    display:none;
}

.star-widget label{
    font-size: 1.5em;
    color: #444;
    padding: 0.2em;
    float: right; /*  necessary other wise the stars are flipped  */
    transition: all 0.2s ease;
}

.star-widget input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label
{
    color: #f5d213;
}


.star-widget input:checked ~ label{
    color: #f5d213;/*#fd4;*/
}

.star{
    color: #f5d213;
}
/*
.star-widget input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}*/

.star-form-group .invalidFeedBack{
    float:right;
}

/*  HEADER*/
.mainHeader {
    background-image: url("../img/bannerTechnology.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;

    /*min-height: 15em;*/
    text-align:center;
    padding: 2em;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.mainHeader h1{
    font-size:2.5em;
    text-transform: uppercase;
    background:black;
    color:white;
    padding:0.3em 0.5em;
    opacity:0.8;
}

.mainHeader h1+h2{
    font-size:1.5em;
    text-transform: uppercase;
    color:white;
    padding:0.3em 0.5em;
    background:black;
    opacity:0.8;
}
/*  HEADER STYLE END*/

.navbar{
    box-shadow: 0 0 0.5em #1a1a1a;
}

#wysiwygTextArea{
    height: 20em;
}