{% extends('default.html.twig') %}

{% block content %}

    <div class="container container-login">
        <div class="wrapper-login">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-md-7 col-lg-5 col-xl-4 form_back_style">
                    <h2 class="text-uppercase">Změnit heslo</h2>
                    <form action="{{ constant('URLROOT')}}/users/changePassword" method="POST" id="changePasswordForm" onkeydown="changePassword()">

                        <div class="form-outline mb-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon iconInput iconInputLeft pt-2" >
                                        <i class="fas fa-lock formIcon"></i>
                                    </div>
                                    <input class="form-control" id="originalPassword" type="password" placeholder="Původní heslo *" name="originalPassword" />
                                    <div class="input-group-addon iconInput iconInputRight pt-2"
                                         onclick="openCloseEye('originalPassword', 'openEye', 'closeEye')">
                                        <i id="closeEye" class="fas fa-eye-slash"></i>
                                        <i id="openEye" class="fas fa-eye" style="display:none;"></i>

                                    </div>
                                </div>
                            </div>
                            <span class="invalidFeedBack">
                                {{ originalPasswordError }}
                            </span>
                        </div>

                        <div class="form-outline mb-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon iconInput iconInputLeft pt-2" >
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    <input class="form-control w-15" id="newPassword" type="password" placeholder="Nové heslo *" name="newPassword">
                                    <div class="input-group-addon iconInput iconInputRight pt-2" onclick="openCloseEye('newPassword','openEye2', 'closeEye2')">
                                        <i id="closeEye2" class="fas fa-eye-slash"></i>
                                        <i id="openEye2" class="fas fa-eye" style="display:none;"></i>
                                    </div>
                                </div>
                            </div>
                            <span class="invalidFeedBack">
                                {{ newPasswordError }}
                            </span>
                        </div>

                        <div class="form-outline mb-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon iconInput iconInputLeft pt-2" >
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    <input class="form-control" id="confirmNewPassword" type="password" placeholder="Potvrdit nové heslo *" name="confirmNewPassword">
                                    <div class="input-group-addon iconInput iconInputRight pt-2" onclick="openCloseEye('confirmNewPassword', 'openEye3', 'closeEye3')">
                                        <i id="closeEye3" class="fas fa-eye-slash"></i>
                                        <i id="openEye3" class="fas fa-eye" style="display:none;"></i>
                                    </div>
                                </div>
                            </div>
                            <span class="invalidFeedBack">
                                {{ confirmNewPasswordError }}
                            </span>
                            {% if confirmNewPasswordError is not empty %}
                                <br>
                            {% endif %}
                        </div>

                        <button class="myBtn btn btn-primary w-100 h1" id="changePasswordButton" disabled="disabled" type="submit" value="submit">Odeslat</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}