{% extends('default.html.twig') %}

{% block content %}
    <div class="container text-center form_back_style col-sm-8 col-md-7 col-lg-8 col-xl-5">

        <h1 class="text-center pt-1 text-uppercase">Obnovit heslo</h1>
        <p>Email vašeho účtu, na který vám budou poslány instrukce ke změně hesla.</p>
        <form action="{{ constant('URLROOT')}}/users/resetPassword" method="POST" accept-charset="UTF-8">
            <div class="form-group mb-4 form-item">
                <input class="form-control"  type="email" name="email" placeholder="Vložte vaší emailovou adresu *" value="{{ title }}" required>
                <span class="invalidFeedBack">
                    {{ emailError }}
                </span>
                <span class="text-success">
                    {{ success }}
                </span>
            </div>

            <button class="myBtn btn btn-primary w-100 h1" name="submit" type="submit">Odeslat</button>
        </form>
    </div>
{% endblock %}