{% set data = {
    'SITENAME' : SITENAME,
    'URLROOT' : URLROOT
}%}

<!DOCTYPE html>
<html>
{% include('includes/head.inc.twig')%}
<body class="d-flex flex-column min-vh-100">
{% include('includes/navigation.inc.twig') %}

<content>
        {% block content %}
            default content
        {% endblock %}
</content>
{% include('includes/footer.inc.twig') %}
</body>
</html>