{% set data = {
    'SITENAME' : SITENAME,
    'URLROOT' : URLROOT
}%}

<!DOCTYPE html>
<html>
{% include('includes/head.inc.twig')%}
<body class="d-flex flex-column min-vh-100">
{% include('includes/navigation.inc.twig') %}

<article>
    <div class="mainSiteContent">
        {% block content %}
            default content
        {% endblock %}
    </div>
{% include('includes/footer.inc.twig') %}
</article>
</body>
</html>